Introdução
O objetivo deste projeto é extrair, transformar e carregar dados de ações da Bovespa para análise e previsão de preços, utilizando indicadores financeiros como o MACD. Isso ajudará na tomada de decisões de compra e venda de ações.

Ferramentas Utilizadas
Utilizamos as bibliotecas pandas e numpy no ambiente de desenvolvimento Jupyter Notebook.

Processo ETL
Extração: Os dados são carregados de um arquivo CSV:

In [1]:
# Instalando pandas
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\auria\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: openpyxl in c:\users\auria\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: numpy>=1.18.5 in c:\users\auria\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\auria\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\auria\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: et_xmlfile in c:\users\auria\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\auria\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [9]:
# Instalando o numpy
!pip install numpy

Requirement already satisfied: numpy in c:\users\auria\anaconda3\lib\site-packages (1.21.5)

In [10]:
# Importando as Bibliotecas
import pandas as pd

In [19]:
print(df.columns)

Index(['data_pregao', 'sigla_acao', 'nome_acao', 'preco_abertura',
       'preco_maximo', 'preco_minimo', 'preco_fechamento', 'qtd_negocios',
       'volume_negocios'],
      dtype='object')

In [41]:
import pandas as pd

def read_files(path, name_file, year_date, type_file ):
    
    _file = f'{path}{name_file}{year_date}.{type_file}'
    
# Especificação das colunas
    colspecs = [
        (2, 10),
        (10, 12),
        (12, 24),
        (27, 39),
        (56, 69),
        (69, 82),
        (82, 95),
        (108, 121),
        (152, 170),
        (170, 188)
    ]

# Nomes das colunas
    names = [
    'data_pregao', 
    'codbdi', 
    'sigla_acao', 
    'nome_acao', 
    'preco_abertura', 
    'preco_maximo', 
    'preco_minimo', 
    'preco_fechamento', 
    'qtd_negocios', 
    'volume_negocios'
    ]

# Leitura do arquivo com o pandas
    df = pd.read_fwf(_file colspecs=colspecs, names=names, skiprows=1)
    return df

        data_pregao  codbdi    sigla_acao     nome_acao  preco_abertura  \
0          20200102     2.0         AALR3        ALLIAR          1829.0
1          20200102     2.0        AAPL34         APPLE         12000.0
2          20200102     2.0         ABCB4    ABC BRASIL          2000.0
3          20200102     2.0         ABEV3     AMBEV S/A          1886.0
4          20200102     2.0         ADHM3   ADVANCED-DH           255.0
...             ...     ...           ...           ...             ...
1251642    20201230    82.0      YDUQN330     YDUQE  FM           248.0
1251643    20201230    82.0      YDUQM340     YDUQE  FM           183.0
1251644    20201230    82.0      YDUQN340     YDUQE  FM           291.0
1251645    20201230    82.0      YDUQO330         YDUQE           285.0
1251646    COTAHIST     0.2  020BOVESPA 2  123000001251             NaN

         preco_maximo  preco_minimo  preco_fechamento  qtd_negocios  \
0              1900.0        1828.0            1900.0      585800.0
1             12134.0       12000.0           12134.0       12700.0
2              2030.0        1982.0            2030.0      870400.0
3              1925.0        1878.0            1920.0    16011300.0
4               255.0         235.0             248.0      193400.0
...               ...           ...               ...           ...
1251642         248.0         226.0             226.0         600.0
1251643         190.0         183.0             190.0        6400.0
1251644         291.0         286.0             286.0        7500.0
1251645         285.0         270.0             270.0        1500.0
1251646           NaN           NaN               NaN           NaN

         volume_negocios
0           1.094620e+09
1           1.533380e+08
2           1.745788e+09
3           3.062348e+10
4           4.719270e+07
...                  ...
1251642     1.466000e+05
1251643     1.173300e+06
1251644     2.175000e+06
1251645     4.125000e+05
1251646              NaN

[1251647 rows x 10 columns]

In [39]:
# Remove espaços extras ao redor dos nomes
df.columns = df.columns.str.strip()  
# Verifique novamente os nomes
print(df.columns)

Index(['data_pregao', 'codbdi', 'sigla_acao', 'nome_acao', 'preco_abertura',
       'preco_maximo', 'preco_minimo', 'preco_fechamento', 'qtd_negocios',
       'volume_negocios'],
      dtype='object')

In [33]:
if 'codbdi' in df.columns:
    # Realize as operações somente se a coluna existir
    df = df[df['codbdi'] == 2]  # Filtra linhas onde 'codbdi' é igual a 2
    df = df.drop(['codbdi'], axis=1)  # Remove a coluna 'codbdi'
else:
    print("A coluna 'codbdi' não está presente no DataFrame.")

A coluna 'codbdi' não está presente no DataFrame.

In [35]:
# Verifica as primeiras linhas do DataFrame
print(df.head()) 
# Lista todas as colunas do DataFrame
print(df.columns)

  data_pregao sigla_acao    nome_acao  preco_abertura  preco_maximo  \
0    20200102      AALR3       ALLIAR          1829.0        1900.0
1    20200102     AAPL34        APPLE         12000.0       12134.0
2    20200102      ABCB4   ABC BRASIL          2000.0        2030.0
3    20200102      ABEV3    AMBEV S/A          1886.0        1925.0
4    20200102      ADHM3  ADVANCED-DH           255.0         255.0

   preco_minimo  preco_fechamento  qtd_negocios  volume_negocios
0        1828.0            1900.0      585800.0     1.094620e+09
1       12000.0           12134.0       12700.0     1.533380e+08
2        1982.0            2030.0      870400.0     1.745788e+09
3        1878.0            1920.0    16011300.0     3.062348e+10
4         235.0             248.0      193400.0     4.719270e+07
Index(['data_pregao', 'sigla_acao', 'nome_acao', 'preco_abertura',
       'preco_maximo', 'preco_minimo', 'preco_fechamento', 'qtd_negocios',
       'volume_negocios'],
      dtype='object')

In [42]:
df = df [df['codbdi']== 2]
return (df)

       data_pregao  codbdi sigla_acao    nome_acao  preco_abertura  \
0         20200102     2.0      AALR3       ALLIAR          1829.0
1         20200102     2.0     AAPL34        APPLE         12000.0
2         20200102     2.0      ABCB4   ABC BRASIL          2000.0
3         20200102     2.0      ABEV3    AMBEV S/A          1886.0
4         20200102     2.0      ADHM3  ADVANCED-DH           255.0
...            ...     ...        ...          ...             ...
294499    20201228     2.0     Z1TO34  ZTO EXPRESS          3672.0
294500    20201229     2.0     Z1TO34  ZTO EXPRESS          3631.0
294501    20201230     2.0     Z1TO34  ZTO EXPRESS          3809.0
294502    20201223     2.0     Z1TS34   ZOETIS INC         20918.0
294503    20201228     2.0     Z1TS34   ZOETIS INC         21214.0

        preco_maximo  preco_minimo  preco_fechamento  qtd_negocios  \
0             1900.0        1828.0            1900.0      585800.0
1            12134.0       12000.0           12134.0       12700.0
2             2030.0        1982.0            2030.0      870400.0
3             1925.0        1878.0            1920.0    16011300.0
4              255.0         235.0             248.0      193400.0
...              ...           ...               ...           ...
294499        3672.0        3672.0            3672.0          30.0
294500        3631.0        3631.0            3631.0         100.0
294501        3809.0        3750.0            3750.0          60.0
294502       20918.0       20918.0           20918.0          50.0
294503       21359.0       21214.0           21359.0           0.0

        volume_negocios
0          1.094620e+09
1          1.533380e+08
2          1.745788e+09
3          3.062348e+10
4          4.719270e+07
...                 ...
294499     1.358600e+05
294500     3.631000e+05
294501     2.295100e+05
294502     1.045900e+06
294503     4.257000e+04

[122226 rows x 10 columns]

In [43]:
df = df.drop(['codbdi'],1)
return (df)

       data_pregao sigla_acao    nome_acao  preco_abertura  preco_maximo  \
0         20200102      AALR3       ALLIAR          1829.0        1900.0
1         20200102     AAPL34        APPLE         12000.0       12134.0
2         20200102      ABCB4   ABC BRASIL          2000.0        2030.0
3         20200102      ABEV3    AMBEV S/A          1886.0        1925.0
4         20200102      ADHM3  ADVANCED-DH           255.0         255.0
...            ...        ...          ...             ...           ...
294499    20201228     Z1TO34  ZTO EXPRESS          3672.0        3672.0
294500    20201229     Z1TO34  ZTO EXPRESS          3631.0        3631.0
294501    20201230     Z1TO34  ZTO EXPRESS          3809.0        3809.0
294502    20201223     Z1TS34   ZOETIS INC         20918.0       20918.0
294503    20201228     Z1TS34   ZOETIS INC         21214.0       21359.0

        preco_minimo  preco_fechamento  qtd_negocios  volume_negocios
0             1828.0            1900.0      585800.0     1.094620e+09
1            12000.0           12134.0       12700.0     1.533380e+08
2             1982.0            2030.0      870400.0     1.745788e+09
3             1878.0            1920.0    16011300.0     3.062348e+10
4              235.0             248.0      193400.0     4.719270e+07
...              ...               ...           ...              ...
294499        3672.0            3672.0          30.0     1.358600e+05
294500        3631.0            3631.0         100.0     3.631000e+05
294501        3750.0            3750.0          60.0     2.295100e+05
294502       20918.0           20918.0          50.0     1.045900e+06
294503       21214.0           21359.0           0.0     4.257000e+04

[122226 rows x 9 columns]

C:\Users\auria\AppData\Local\Temp\ipykernel_6840\656511954.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(['codbdi'],1)

In [46]:
# Ajuste campo de datas
# Organizar o DataFrame pela coluna 'data_pregao'
df parse_date(df)
df = df.sort_values(by='data_pregao')
df['data_pregao'] = pd.to_datetime(df['data_pregao'], format='%Y%m%d')

return (df):

       data_pregao sigla_acao    nome_acao  preco_abertura  preco_maximo  \
0       2020-01-02      AALR3       ALLIAR          1829.0        1900.0
19      2020-01-02     ATTB34      ATT INC         15744.0       15744.0
186     2020-01-02      HAPV3      HAPVIDA          6520.0        6708.0
1       2020-01-02     AAPL34        APPLE         12000.0       12134.0
2       2020-01-02      ABCB4   ABC BRASIL          2000.0        2030.0
...            ...        ...          ...             ...           ...
289794  2020-12-30     HPQB34   HP COMPANY         12479.0       12709.0
285561  2020-12-30      ALPA3   ALPARGATAS          3785.0        3810.0
290561  2020-12-30     LMTB34     LOCKHEED        183630.0      183630.0
290699  2020-12-30     M1DB34  MONGODB INC          9495.0        9495.0
292383  2020-12-30      RDNI3          RNI          1137.0        1170.0

        preco_minimo  preco_fechamento  qtd_negocios  volume_negocios
0             1828.0            1900.0      585800.0     1.094620e+09
19           15744.0           15744.0         200.0     3.148800e+06
186           6442.0            6644.0     2600200.0     1.718629e+10
1            12000.0           12134.0       12700.0     1.533380e+08
2             1982.0            2030.0      870400.0     1.745788e+09
...              ...               ...           ...              ...
289794       12479.0           12709.0          10.0     1.894800e+05
285561        3727.0            3810.0        1400.0     5.306700e+06
290561      183630.0          183630.0           0.0     5.508900e+05
290699        9495.0            9495.0           0.0     9.490000e+03
292383        1122.0            1164.0       18900.0     2.178650e+07

[122226 rows x 9 columns]

In [47]:
# Ajustes dos campos numéricos

def parse_values(df):

    df['preco_abertura'] = (df['preco_abertura'] /100).astype(float)
    df['preco_maximo'] = (df['preco_maximo'] /100).astype(float)
    df['preco_minimo'] = (df['preco_minimo'] /100).astype(float)
    df['preco_fechamento'] = (df['preco_fechamento'] /100).astype(float)

return(df)

       data_pregao sigla_acao    nome_acao  preco_abertura  preco_maximo  \
0       2020-01-02      AALR3       ALLIAR           18.29         19.00
19      2020-01-02     ATTB34      ATT INC          157.44        157.44
186     2020-01-02      HAPV3      HAPVIDA           65.20         67.08
1       2020-01-02     AAPL34        APPLE          120.00        121.34
2       2020-01-02      ABCB4   ABC BRASIL           20.00         20.30
...            ...        ...          ...             ...           ...
289794  2020-12-30     HPQB34   HP COMPANY          124.79        127.09
285561  2020-12-30      ALPA3   ALPARGATAS           37.85         38.10
290561  2020-12-30     LMTB34     LOCKHEED         1836.30       1836.30
290699  2020-12-30     M1DB34  MONGODB INC           94.95         94.95
292383  2020-12-30      RDNI3          RNI           11.37         11.70

        preco_minimo  preco_fechamento  qtd_negocios  volume_negocios
0              18.28             19.00      585800.0     1.094620e+09
19            157.44            157.44         200.0     3.148800e+06
186            64.42             66.44     2600200.0     1.718629e+10
1             120.00            121.34       12700.0     1.533380e+08
2              19.82             20.30      870400.0     1.745788e+09
...              ...               ...           ...              ...
289794        124.79            127.09          10.0     1.894800e+05
285561         37.27             38.10        1400.0     5.306700e+06
290561       1836.30           1836.30           0.0     5.508900e+05
290699         94.95             94.95           0.0     9.490000e+03
292383         11.22             11.64       18900.0     2.178650e+07

[122226 rows x 9 columns]

In [48]:
df.dtypes

data_pregao         datetime64[ns]
sigla_acao                  object
nome_acao                   object
preco_abertura             float64
preco_maximo               float64
preco_minimo               float64
preco_fechamento           float64
qtd_negocios               float64
volume_negocios            float64
dtype: object

In [57]:
def concat_files(path, name_file, year_date, type_file, final_file):
    # Implementação da função
    print("Função concat_files chamada com os argumentos:")
    print(path, name_file, year_date, type_file, final_file)

# Chamando a função
path = r'C:\Users\auria\OneDrive - UFN - Universidade Franciscana\Desktop\Potfólio\Python\Projetos em Python\projetoetl'
name_file = 'file_name'
year_date = '2024'
type_file = '.csv'
final_file = 'all_bovespa.csv'

concat_files(path, name_file, year_date, type_file, final_file)

Função concat_files chamada com os argumentos:
C:\Users\auria\OneDrive - UFN - Universidade Franciscana\Desktop\Potfólio\Python\Projetos em Python\projetoetl file_name 2024 .csv all_bovespa.csv

In [58]:
# Executando programa de ETL
year_date = ['2018', '2019', '2020', '2021', '2022', '2023', '2024']

path = 'C:/Users/auria/OneDrive - UFN - Universidade Franciscana/Desktop/Potfólio/Python/Projetos em Python/projetoetl'

name_file='COTAHIST_A'

type_file ='txt'

final_file = 'all_bovespa.csv'

concat_files(path, name_file, year_date, type_file, final_file)

Função concat_files chamada com os argumentos:
C:/Users/auria/OneDrive - UFN - Universidade Franciscana/Desktop/Potfólio/Python/Projetos em Python/projetoetl COTAHIST_A ['2018', '2019', '2020', '2021', '2022', '2023', '2024'] txt all_bovespa.csv

In [4]:
# Execução da Função ETL

In [4]:
from prefect import flow, task
import pandas as pd
import os

# Função ETL
@task
def concat_files(path, name_file, year_date, type_file, final_file):
    all_data = []
    for year in year_date:
        file_path = os.path.join(path, f"{name_file}{year}.{type_file}")
        data = pd.read_fwf(file_path, colspecs=[
            (2, 10), (10, 12), (12, 24), (27, 39),
            (56, 69), (69, 82), (82, 95), (108, 121),
            (152, 170), (170, 188)
        ], names=[
            'data_pregao', 'codbdi', 'sigla_acao', 'nome_acao',
            'preco_abertura', 'preco_maximo', 'preco_minimo',
            'preco_fechamento', 'qtd_negocios', 'volume_negocios'
        ], skiprows=1)
        data['data_pregao'] = pd.to_datetime(data['data_pregao'], format='%Y%m%d')
        data = data[data['codbdi'] == 2]
        data = data.drop(columns=['codbdi'])
        all_data.append(data)
    final_data = pd.concat(all_data, ignore_index=True)
    final_data.to_csv(os.path.join(path, final_file), index=False)